<%= stylesheet_link_tag "sign"%>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal"><b>BestPosts</b></p>
  <nav class="my-2 my-md-0 me-md-3">
    <span class="p-2 text-dark" ><%= link_to 'News', posts_path%></span>
    <span class="p-2 text-dark" ><%= link_to 'Add new post', new_post_path%></span>
    <span class="p-2 text-dark" ><%= link_to 'My Posts', posts_my_posts_path%></span>
    <span class="p-2 text-dark" ><%= link_to 'My Profile', main_profile_path%></span>
  </nav>
  <a class="btn btn-outline-primary" id="Button" href="/signup">Sign up</a>
</header>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

