<h1>Input</h1>
<%= form_tag("/rafson/view", :method => "get") do %>
  <%= label_tag("The number:") %>
  <%= text_field_tag :num %>
  <%= submit_tag("Result") %>
<% end %>
<br/>
<%= link_to 'Log out', '/signout' %>&nbsp;&nbsp;&nbsp;
<%= link_to 'List of users', '/users' %>