<%= stylesheet_link_tag "news"%>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal" id="title"><b>BestPosts</b></p>
  <nav class="my-2 my-md-0 me-md-3">
    <span class="p-2 text-dark" ><%= link_to 'News', posts_path%></span>
    <span class="p-2 text-dark" ><%= link_to 'Add new post', new_post_path%></span>
    <span class="p-2 text-dark" ><%= link_to 'My Posts', posts_my_posts_path%></span>
    <span class="p-2 text-dark" ><%= link_to 'My Profile', main_profile_path%></span>
  </nav>
  <a class="btn btn-outline-primary" href="/signout">Log out</a>
</header>
<div class="container">
  <% @my_posts.each do |post| %>
    <% if post.author_id == @_current_user.id%>
     <div class="alert alert-light">
        <h3><%= post.title %></h3>
        <h4> <%= User.find_by_id(post.author_id).name %></h4>
        <p> <%= post.body %></p>
        <%= link_to 'Читать далее', post_path(post), :class =>
            'btn btn-info'%>
        <%= link_to 'Редактировать', edit_post_path(post), :class =>
           'btn btn-warning'%>
        <%= link_to 'Удалить', post_path(post), :method => :delete, data: {confirm: 'Подтвердите удаление статьи'}, :class =>
           'btn btn-danger'%>
     </div>
    <% end %>
  <% end %>
</div>